html {
    box-shadow: inset 0 0 10px hsl(0, 0%, 100%);
    animation: anim 2s infinite;
    min-height: 100vh; 
    transition: 2500ms;
}

html::-webkit-scrollbar {
    display: none;
}

@keyframes anim {
    50% {
        box-shadow: inset 0 0 30px hsl(34, 100%, 77%);
    }
}

body {
    padding-top: 5rem;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    margin: 0;
    background-color: hsl(31, 59%, 88%);
    color: hsl(0, 0%, 13%);
    min-height: 100vh; 
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin-bottom: 2rem; 
}

input, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 7%);
    border: none;
    border-radius: 5px;
    background-color: hsl(31, 59%, 88%);
    outline: none;
    transition: 250ms;
}

button {
    cursor: pointer;
    font-weight: bold;
    color: hsl(0, 0%, 13%);
    background-color: hsl(31, 59%, 88%);
    border-radius: 5px;
    transition: 500ms;
}

button:hover {
    box-shadow: 2px 2px 0px hsl(34, 16%, 74%), -2px -2px 0px hsl(32, 100%, 93%);
    text-shadow: 0 0 5px hsl(27, 100%, 95%);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

li button {
    width: auto;
    margin-top: 5px;
    padding: 5px 10px;
    background-color: hsla(0, 0%, 100%, 0.4);
    border-radius: 3px;
}

li button:hover {
    background-color: hsla(0, 0%, 100%, 0.553);
    box-shadow: 2px 2px 0px hsl(34, 16%, 74%), -2px -2px 0px hsl(32, 100%, 93%);
}

#taskInput:hover, #taskInput:focus{
    box-shadow: inset 2px 2px 0px hsl(34, 16%, 74%), 2px 2px 0px hsl(32, 100%, 93%);
}


.title {
    margin-bottom: 2rem;
}

#clearTasksButton {
    margin-top: 20px;
    padding: 10px 40px;
}

.task-container{
    background-color: hsl(31, 59%, 88%);
    box-shadow: inset 2px 2px 0px hsl(32, 100%, 93%), 2px 2px 0px hsl(34, 16%, 74%);
    border-radius: 10px;
    margin: auto;
    padding: 8px; 
    margin-bottom: 2rem;
    box-sizing: border-box;
}
.task.done{
    text-decoration: line-through;
    font-weight: bold;
    color: green;
}

#doneB{
    transform: translateY(0.2rem);
    transform: translateX(3rem);
}